<form action="./<%=@article_id%>" method="POST">
  <label>タイトル</label>
  <input type="text" name="title" value="<%=@title%>">
  <label>本文</label>
  <textarea name="body"><%=@body%></textarea>
  <input type="submit" value="編集">
</form>
<p><a href="../delete/<%=@article_id%>">削除</a></p>
