<ul>
  <li><a href="./list">記事一覧</a></li>
  <li><a href="./post">新規記事投稿</a></li>
  <li><a href="./ranking">アクセスランキング</a></li>
</ul>

<% @article_list.each do |e| %>
<h1><a href="/watch/<%=e[:article_id]%>"><%= e[:title] %></a></h1>
<p><%=e[:date]%></p>
<p>
<%=e[:body].gsub(/\n/, "<br>")%>
</p>
<% end %>
